//colors

$white: #ffffff;
$white-deep: #f8f8f8;
$black: #434a50;
$black-deep: #000000;
$theme-color: #d8d8d8;
$theme-color-light: #373d41;
$theme-color-deep: #373d41;

$font-color-default: #2c3e50;
$font-color-theme: #4dd0e1;


//sizes

$font-size-default: 14px;
$font-size-small: 18px;
$font-size-tiny: 24px;
$font-size-big: 40px;

$content-width: 800px;
$content-box-padding: calc(50% - 620px);
$content-padding: calc(50% - 420px);